@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Montserrat:wght@300;400&display=swap");

body {
  font-family: "Manrope", sans-serif;
  font-family: "Montserrat", sans-serif;
  background-color: #faf9f6;
  overflow-x: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.placeholder-black::placeholder {
  color: black;
}

.placeholder-black-dk::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.main-container {
  overflow-x: hidden;
  margin-left: 10%;
  margin-right: 10%;
}

/**************************** Login ***********************************/

h3{
  font-size: 20px;
}

.container_login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-form{
  display: flex;
  width: 35%;
  flex-direction: column;
  margin-bottom: 1%;
}
.input{
  border-radius: 4px;
  padding: 2%;
  border: 1px solid rgba(173, 156, 156, 0.6);
}
.btn_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
}
.btn_ingresar{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #003B93;
  color: #FFFFFF;
  font-weight: 500;
  border: none;
  padding: 2%;
  width: 48%;
}
.btn_cancelar{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E75D5D;
  font-weight: 500;
  border: none;
  padding: 2%;
  width: 48%;
}

/**************************** Home ***********************************/

.up-lista{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10%;
  width: 100%;
}

.encabezado_lista{
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #333A40;
}

.lista{
  width: 50%;
}
.body_lista{
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}
.dentro_lista{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.mostrar_carro{
  background-color: #D9D9D9;
  padding-left: 4%;
  padding-right: 4%;
}
.h3_id{
  text-align: center;
}